.login2 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.frame-email-password {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-5xl) 0;
}
.email-frame {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 39px;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-4xl) var(--padding-8xs);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  min-width: 180px;
}
.email-frame,
.email-frame1,
.email-password-frame {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.email-frame1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 39px;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xl) var(--padding-8xs);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  min-width: 180px;
}
.email-password-frame {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 22px 0;
}
.login3 {
  position: relative;
  font-size: var(--body-large-semibold-size);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.login-confirmation {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-sm);
  background-color: var(--color-salmon);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-confirmation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.frame-email-password-parent {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 35px 0;
}
.frame-login {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl);
}
.image-12-icon {
  height: 290px;
  width: 338px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: color-burn;
}
.image-icon,
.login1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.image-icon {
  width: 323px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
.login1 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #ff8f8f, #8f0d0f);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-120xl) 0 0 var(--padding-12xs);
  gap: 69px 0;
}
