.hamburger-line,
.hamburger-line1,
.hamburger-line2 {
  position: absolute;
  height: 16.67%;
  width: 111.76%;
  top: 0;
  right: -11.76%;
  bottom: 83.33%;
  left: 0;
  border-top: 3px solid var(--greyscale-900);
  box-sizing: border-box;
}
.hamburger-line1,
.hamburger-line2 {
  top: 50%;
  bottom: 33.33%;
}
.hamburger-line2 {
  top: 100%;
  bottom: -16.67%;
}
.hamburger1 {
  width: 25.5px;
  height: 18px;
  position: relative;
}
.third-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.image-1-icon {
  width: 43px;
  height: 31px;
  position: relative;
  object-fit: cover;
}
.image-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.profile-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.image-10-icon {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 34px;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  z-index: 1;
}
.profile-group {
  height: 38px;
  width: 36px;
  position: relative;
  cursor: pointer;
}
.second-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.trivia2 {
  margin: 0;
  width: 127px;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.fourth-frame-child {
  width: 323px;
  height: 165px;
  position: relative;
  background: linear-gradient(180deg, red, #ff8f8f);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.73);
  display: none;
}
.trivia3 {
  margin: 0;
  height: 34px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.score-text {
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.xxxx-pts {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.expander,
.score-text-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.expander {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 64px 0 var(--padding-29xl);
}
.exp-xxxxxxxx {
  position: relative;
  font-size: var(--font-size-3xs);
  text-align: left;
  z-index: 1;
}
.first-frame,
.fourth-frame,
.third-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.fourth-frame {
  background: linear-gradient(180deg, red, #ff8f8f);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.73);
  align-items: flex-end;
  padding: var(--padding-lg) var(--padding-6xs) var(--padding-4xs);
  gap: 29px 0;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.first-frame,
.third-frame1 {
  align-items: flex-start;
  gap: 6px 0;
}
.first-frame {
  align-items: flex-end;
  padding: 0 var(--padding-lg) var(--padding-10xl) var(--padding-lgi);
  gap: 23px 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
.trivia4 {
  margin: 0;
  width: 174px;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.ad-text-child {
  width: 323px;
  height: 165px;
  position: relative;
  background: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.73);
  border: 1px solid var(--greyscale-900);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.image-3-icon,
.referral-code {
  position: relative;
  z-index: 2;
}
.image-3-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
  margin-top: -7px;
}
.a-d-s-text,
.ad-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ad-text {
  height: 165px;
  background: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.73);
  border: 1px solid var(--greyscale-900);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-mini) var(--padding-27xl) var(--padding-2xs) 45px;
  font-size: var(--font-size-3xs);
}
.a-d-s-text {
  align-items: flex-start;
  padding: 0 var(--padding-lgi) var(--padding-9xs) var(--padding-lg);
  gap: 10px 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
.rectangle-icon {
  height: 128px;
  width: 360px;
  position: relative;
  display: none;
}
.ads1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.instance-child,
.vector-group {
  background-color: var(--color-gainsboro);
}
.vector-group {
  align-self: stretch;
  height: 128px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-3xl) var(--padding-15xl)
    var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
.instance-child {
  height: 25px;
  width: 115px;
  position: relative;
  border-radius: var(--br-xl);
}
.instance-inner,
.instance-item {
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
}
.instance-item {
  height: 100%;
  width: 44px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
  z-index: 1;
}
.instance-inner {
  height: 38px;
  width: 38px;
  top: calc(50% - 19px);
  right: 3px;
  background-color: var(--color-lightcoral);
  z-index: 2;
}
.chat-tuney1 {
  position: relative;
  font-weight: 300;
  z-index: 1;
  margin-left: -105px;
}
.rectangle-container {
  width: 149px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 var(--padding-5xs) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
}
.multi-rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
.my-points {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 var(--padding-base);
  box-sizing: border-box;
  gap: 29px 0;
}
