.password-frame {
  position: relative;
  font-weight: 500;
}
.fabattery-icon3,
.game-iconsnetwork-bars3,
.riwifi-fill-icon3 {
  height: 15px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 15px;
}
.fabattery-icon3 {
  width: 27px;
}
.btn-sign-up {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 10px;
}
.first-frame1,
.top-bar1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.top-bar1 {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.first-frame1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.greater-than-symbol-10-1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.ic-back {
  border-radius: var(--br-3xs);
  border: 1.5px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-7xs);
}
.forgot-password {
  position: relative;
  font-weight: 500;
}
.header-with-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs) 0 var(--padding-11xs) var(--padding-11xs);
  gap: var(--gap-xl);
}
.header-with-text-instance {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.logo-icon {
  width: 100%;
  flex: 1;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: -6px;
  top: 0;
  height: 100%;
  transform: scale(2);
}
.wrapper-logo {
  width: 164px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-with-logo {
  width: 269px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px 0;
  font-size: var(--font-size-lg);
  color: var(--black);
}
.section-frame,
.top-bar-instance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.section-frame {
  flex: 1;
  flex-direction: column;
  gap: 23px 0;
}
.top-bar-instance {
  width: 414px;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.create-a-new,
.title {
  position: relative;
  font-size: var(--headings-h4-size);
  letter-spacing: -0.02em;
  line-height: 130%;
  font-family: var(--headings-h4);
  color: var(--greyscale-50);
  text-align: center;
}
.create-a-new {
  width: 327px;
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-family: var(--body-medium-regular);
  color: var(--greyscale-500);
  display: inline-block;
}
.create-a-new-password,
.title-component {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.create-a-new-password {
  flex-direction: column;
  align-items: center;
  gap: 8px 0;
}
.title-component {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.mdieye-outline-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.password1 {
  width: calc(100% - 48px);
  border: 0;
  outline: 0;
  font-family: var(--body-medium-regular);
  font-size: var(--body-medium-regular-size);
  background-color: transparent;
  height: 21px;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 150%;
  color: var(--color-dimgray-100);
  text-align: justify;
  display: inline-block;
  min-width: 40px;
}
.password-frame1 {
  width: 106px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.mdieye-outline-icon1 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  left: 330px;
  overflow: hidden;
  flex-shrink: 0;
}
.password,
.password-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.password {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-300);
  border: 1.4px solid var(--color-dimgray-100);
  padding: var(--padding-xl) var(--padding-3xs) var(--padding-lgi);
  position: relative;
  gap: 0 214px;
}
.password-input {
  align-self: stretch;
  padding: 0 0 var(--padding-9xs);
}
.mdieye-outline-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.password3 {
  width: 67px;
  border: 0;
  outline: 0;
  font-family: var(--body-medium-regular);
  font-size: var(--body-medium-regular-size);
  background-color: transparent;
  height: 21px;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 150%;
  color: var(--color-dimgray-100);
  text-align: justify;
  display: inline-block;
}
.mdieye-outline-icon3 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  right: 16px;
  bottom: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.double-eye-icon-frame,
.password2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.password2 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-300);
  border: 1.4px solid var(--color-dimgray-100);
  padding: var(--padding-xl) var(--padding-3xs);
  position: relative;
  gap: 0 15px;
}
.double-eye-icon-frame {
  align-self: stretch;
  padding: 0 0 var(--padding-2xs);
}
.create-new-password {
  position: relative;
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-white);
  text-align: justify;
}
.btn-sign-up1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini);
  background-color: var(--orange);
  flex: 1;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.btn-sign-up1:hover {
  background-color: var(--color-chocolate);
}
.forgot-password-link,
.password-input-group {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.forgot-password-link {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.password-input-group {
  margin: 0;
  width: 414px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-xl);
  gap: 16px 0;
}
.keyboard-txt-child,
.q-child {
  position: relative;
  display: none;
}
.keyboard-txt-child {
  width: 430px;
  height: 293px;
  background-color: var(--black1);
  max-width: 100%;
  z-index: 0;
}
.q-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.q,
.q1 {
  z-index: 1;
}
.q1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.q {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-8xs) var(--padding-5xs);
}
.w-child,
.w1 {
  position: relative;
}
.w-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.w1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.e-child,
.w {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.w {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
  z-index: 1;
}
.e-child {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.e,
.e1 {
  z-index: 1;
}
.e1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.e {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.r-child,
.r1 {
  position: relative;
}
.r-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.r1 {
  width: 21px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.r,
.t-child {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.r {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 22px;
  z-index: 1;
}
.t-child {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.t,
.t1 {
  z-index: 1;
}
.t1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.t {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.y-child,
.y1 {
  position: relative;
}
.y-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.y1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.u-child,
.y {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.y {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-5xs);
  z-index: 1;
}
.u-child {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.u,
.u1 {
  z-index: 1;
}
.u1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.u {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.i-child,
.i1 {
  position: relative;
}
.i-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.i1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.i,
.o-child {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.i {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
  z-index: 1;
}
.o-child {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.o,
.o1 {
  z-index: 1;
}
.o1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.o {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
}
.p-child,
.p1 {
  position: relative;
}
.p-child {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.p1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.a-s-d-f-row-frame,
.p {
  display: flex;
  flex-direction: row;
}
.p {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-5xs);
  z-index: 1;
}
.a-s-d-f-row-frame {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  gap: 0 7px;
}
.a,
.q-item {
  position: relative;
}
.q-item {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.a {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.q2,
.w-item {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.q2 {
  flex: 0.8868;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs)
    var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.w-item {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.s,
.w2 {
  flex: 1;
  z-index: 1;
}
.s {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.w2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-8xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 23px;
}
.d,
.e-item {
  position: relative;
}
.e-item {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.d {
  width: 15px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.e2,
.r-item {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.e2 {
  flex: 0.8491;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.r-item {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.f,
.r2 {
  z-index: 1;
}
.f {
  width: 18.3px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.r2 {
  flex: 0.7358;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-4xs);
  box-sizing: border-box;
  min-width: 23px;
}
.g,
.t-item {
  position: relative;
}
.t-item {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.g {
  width: 15px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.t2,
.y-item {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.t2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-6xs)
    var(--padding-2xs);
  z-index: 1;
}
.y-item {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.h,
.y2 {
  z-index: 1;
}
.h {
  width: 16.1px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.y2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-2xs);
}
.j,
.u-item {
  position: relative;
}
.u-item {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.j {
  width: 19.3px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.i-item,
.u2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.u2 {
  flex: 0.8491;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.i-item {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.i2,
.k {
  z-index: 1;
}
.k {
  width: 8.6px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.i2 {
  flex: 0.3585;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-6xs)
    var(--padding-sm);
  box-sizing: border-box;
  min-width: 23px;
  color: var(--color-white);
}
.l,
.o-item {
  position: relative;
}
.o-item {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.l {
  flex: 1;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.o2,
.q-parent {
  display: flex;
  flex-direction: row;
}
.o2 {
  flex: 0.6226;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-2xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.q-parent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-7xs);
  gap: 0 8px;
}
.download-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  width: 100%;
  height: 100%;
  display: none;
}
.shift-icon {
  position: absolute;
  top: 12px;
  left: calc(50% - 10.05px);
  width: 21px;
  height: 16.5px;
  z-index: 1;
}
.download,
.w-inner {
  height: 40px;
  width: 37.9px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.download {
  z-index: 1;
}
.w-inner {
  display: none;
}
.w3,
.z {
  z-index: 1;
}
.z {
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
}
.w3 {
  width: 39px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-2xs);
  box-sizing: border-box;
}
.e-inner,
.x1 {
  position: relative;
}
.e-inner {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.x1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.e3,
.r-inner {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.e3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
  z-index: 1;
}
.r-inner {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.c,
.r3 {
  z-index: 1;
}
.c {
  width: 22px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.r3 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 25px;
}
.t-inner,
.v {
  position: relative;
}
.t-inner {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.v {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.t3,
.y-inner {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.t3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-4xs);
  z-index: 1;
}
.y-inner {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.b8,
.y3 {
  z-index: 1;
}
.b8 {
  width: 20px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.y3 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
}
.n,
.u-inner {
  position: relative;
}
.u-inner {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.n {
  flex: 1;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
  z-index: 1;
}
.i-inner,
.u3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.u3 {
  width: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
}
.i-inner {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.i3,
.m {
  flex: 1;
  z-index: 1;
}
.m {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.i3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
}
.delete-icon {
  height: 40px;
  width: 37.9px;
  position: relative;
  object-fit: cover;
  min-height: 40px;
  z-index: 1;
}
.a-s-d-f-row-frame1,
.download-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  gap: 0 7px;
}
.download-frame {
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 var(--padding-12xs);
  gap: 10px 0;
}
.to-3-child {
  height: 45px;
  width: 89.3px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.to-space {
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.space-child,
.to-3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.to-3 {
  width: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-lgi);
  box-sizing: border-box;
  z-index: 1;
}
.space-child {
  height: 45px;
  width: 211.5px;
  position: relative;
  display: none;
}
.space1 {
  position: relative;
  font-size: var(--body-large-semibold-size);
  letter-spacing: 0.2em;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-gray-600);
  text-align: center;
  z-index: 1;
}
.space {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-49xl) var(--padding-xs)
    var(--padding-53xl);
  background-color: var(--black);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.space:hover,
.to-4:hover {
  background-color: var(--color-dimgray-200);
}
.go,
.to-4-child {
  position: relative;
}
.to-4-child {
  height: 45px;
  width: 89.3px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.go {
  flex: 1;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-gray-600);
  text-align: center;
  flex-shrink: 0;
  z-index: 1;
}
.to-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-3xl);
  background-color: var(--black);
  width: 90px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.q-key-frame,
.to-3-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.to-3-parent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 9px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--headings-h4);
}
.q-key-frame {
  flex-direction: column;
  align-items: flex-end;
  gap: 14px 0;
}
.icon-park-outlinevoice,
.phsmiley-bold-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.phsmiley-bold-icon {
  bottom: 26px;
  left: 37px;
}
.icon-park-outlinevoice {
  right: 42px;
  bottom: 28px;
}
.keyboard-txt,
.new-password-screen,
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.keyboard-txt {
  align-self: stretch;
  background-color: var(--black1);
  padding: var(--padding-mini) var(--padding-xs) var(--padding-sm)
    var(--padding-5xs);
  position: relative;
  min-height: 293px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--headings-h4);
}
.new-password-screen,
.section2 {
  overflow: hidden;
}
.section2 {
  align-self: stretch;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--color-gray-500);
  padding: var(--padding-13xl) 0 0;
  gap: 12px 0;
  max-width: 100%;
  flex-shrink: 0;
}
.new-password-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  padding: var(--padding-9xl) 0 0;
  gap: 115px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .top-bar1 {
    flex-wrap: wrap;
  }
  .e2,
  .i2,
  .o2,
  .q2,
  .r2,
  .u2 {
    flex: 1;
  }
  .a-s-d-f-row-frame1,
  .q-parent {
    flex-wrap: wrap;
  }
}
