.frame-child10,
.image-282-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 88px;
}
.image-282-icon {
  top: 21px;
  left: 22px;
  width: 44px;
  height: 44px;
  object-fit: cover;
  z-index: 1;
}
.frame-parent8 {
  width: 88px;
  height: 88px;
  position: relative;
  z-index: 1;
}
.subtract-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.body,
.tittle {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  z-index: 1;
}
.body {
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-family: var(--body-medium-regular);
  color: var(--greyscale-500);
}
.title-text-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: 12px 0;
}
.button1 {
  position: relative;
  font-size: var(--body-large-semibold-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--body-medium-regular);
  color: var(--greyscale-900);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-300);
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.parent-frame,
.password-success-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.parent-frame {
  width: 290px;
  height: 238px;
  justify-content: flex-end;
  padding: var(--padding-14xl) var(--padding-xl);
  gap: 32px 0;
  margin-top: -33px;
  text-align: center;
  font-size: var(--body-large-semibold-size);
  color: var(--greyscale-50);
  font-family: var(--headings-h4);
}
.password-success-screen {
  width: 100%;
  height: 932px;
  overflow: hidden;
  justify-content: flex-start;
  padding: 224px var(--padding-xl) 415px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
