.forgot-password-button {
  position: relative;
  font-weight: 500;
}
.fabattery-icon5,
.game-iconsnetwork-bars5,
.riwifi-fill-icon5 {
  height: 15px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 15px;
}
.fabattery-icon5 {
  width: 27px;
}
.logo-design {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 10px;
}
.frame-logo,
.top-bar4 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.top-bar4 {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-logo {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.greater-than-symbol-10-12 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.ic-back2 {
  border-radius: var(--br-3xs);
  border: 1.5px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-7xs);
}
.forgot-password2 {
  position: relative;
  font-weight: 500;
}
.header-with-text2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs) 0 var(--padding-11xs) var(--padding-11xs);
  gap: var(--gap-xl);
}
.frame-top-bar-icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.logo-icon2 {
  width: 100%;
  flex: 1;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: -6px;
  top: 0;
  height: 100%;
  transform: scale(2);
}
.wrapper-logo2 {
  width: 164px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-input-fields {
  width: 269px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px 0;
  font-size: var(--font-size-lg);
  color: var(--black);
}
.frame-main,
.top-bar3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.top-bar3 {
  flex: 1;
  flex-direction: column;
  gap: 23px 0;
}
.frame-main {
  width: 414px;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.title2,
.we-need-your {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 130%;
}
.we-need-your {
  width: 327px;
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-family: var(--body-medium-regular);
  color: var(--greyscale-500);
  display: inline-block;
}
.title-phone-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) var(--padding-5xs);
  gap: 8px 0;
}
.mdieye-outline-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.mobile-number1 {
  width: 105px;
  border: 0;
  outline: 0;
  font-family: var(--body-medium-regular);
  font-size: var(--body-medium-regular-size);
  background-color: transparent;
  height: 21px;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 150%;
  color: var(--color-dimgray-100);
  text-align: justify;
  display: inline-block;
}
.mobile-number {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-300);
  border: 1.4px solid var(--color-dimgray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: 0 15px;
}
.sign-up {
  position: relative;
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.3px;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-white);
  text-align: justify;
}
.btn-sign-up3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini);
  background-color: var(--orange);
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.btn-sign-up3:hover {
  background-color: var(--color-chocolate);
}
.input-keys-frame {
  width: 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 32px 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--headings-h4-size);
  color: var(--greyscale-50);
  font-family: var(--headings-h4);
}
.keyboard-txt-item,
.q-inner {
  position: relative;
  display: none;
}
.keyboard-txt-item {
  width: 430px;
  height: 293px;
  background-color: var(--black1);
  max-width: 100%;
  z-index: 0;
}
.q-inner {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.q3,
.q4 {
  z-index: 1;
}
.q4 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.q3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-8xs) var(--padding-5xs);
}
.w-child1,
.w5 {
  position: relative;
}
.w-child1 {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.w5 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.e-child1,
.w4 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.w4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
  z-index: 1;
}
.e-child1 {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.e4,
.e5 {
  z-index: 1;
}
.e5 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.e4 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.r-child1,
.r5 {
  position: relative;
}
.r-child1 {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.r5 {
  width: 21px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.r4,
.t-child1 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.r4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 22px;
  z-index: 1;
}
.t-child1 {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.t4,
.t5 {
  z-index: 1;
}
.t5 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.t4 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.y-child1,
.y5 {
  position: relative;
}
.y-child1 {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.y5 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.u-child1,
.y4 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.y4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-5xs);
  z-index: 1;
}
.u-child1 {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.u4,
.u5 {
  z-index: 1;
}
.u5 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.u4 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
}
.i-child1,
.i5 {
  position: relative;
}
.i-child1 {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.i5 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.i4,
.o-inner {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.i4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 22px;
  z-index: 1;
}
.o-inner {
  height: 40px;
  width: 34px;
  position: relative;
  display: none;
}
.o3,
.o4 {
  z-index: 1;
}
.o4 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.o3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
}
.p-item,
.p3 {
  position: relative;
}
.p-item {
  height: 40px;
  width: 34px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.p3 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.a-s-d-f-g-h-j-k-l,
.p2 {
  display: flex;
  flex-direction: row;
}
.p2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-5xs);
  z-index: 1;
}
.a-s-d-f-g-h-j-k-l {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  gap: 0 7px;
}
.a1,
.q-child1 {
  position: relative;
}
.q-child1 {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.a1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.q5,
.w-child2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.q5 {
  flex: 0.8868;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs)
    var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.w-child2 {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.s1,
.w6 {
  flex: 1;
  z-index: 1;
}
.s1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.w6 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-8xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 23px;
}
.d1,
.e-child2 {
  position: relative;
}
.e-child2 {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.d1 {
  width: 15px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.e6,
.r-child2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.e6 {
  flex: 0.8491;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.r-child2 {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.f1,
.r6 {
  z-index: 1;
}
.f1 {
  width: 18.3px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.r6 {
  flex: 0.7358;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-4xs);
  box-sizing: border-box;
  min-width: 23px;
}
.g1,
.t-child2 {
  position: relative;
}
.t-child2 {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.g1 {
  width: 15px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.t6,
.y-child2 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.t6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-6xs)
    var(--padding-2xs);
  z-index: 1;
}
.y-child2 {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.h1,
.y6 {
  z-index: 1;
}
.h1 {
  width: 16.1px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.y6 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-2xs);
}
.j1,
.u-child2 {
  position: relative;
}
.u-child2 {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.j1 {
  width: 19.3px;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.i-child2,
.u6 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.u6 {
  flex: 0.8491;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.i-child2 {
  height: 40px;
  width: 36.5px;
  position: relative;
  display: none;
}
.i6,
.k1 {
  z-index: 1;
}
.k1 {
  width: 8.6px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.i6 {
  flex: 0.3585;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-6xs)
    var(--padding-sm);
  box-sizing: border-box;
  min-width: 23px;
  color: var(--color-white);
}
.l1,
.o-child1 {
  position: relative;
}
.o-child1 {
  height: 40px;
  width: 36.5px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.l1 {
  flex: 1;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.key-u,
.o5 {
  display: flex;
  flex-direction: row;
}
.o5 {
  flex: 0.6226;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-2xs);
  box-sizing: border-box;
  min-width: 23px;
  z-index: 1;
}
.key-u {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-7xs);
  gap: 0 8px;
}
.download-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  width: 100%;
  height: 100%;
  display: none;
}
.shift-icon1 {
  position: absolute;
  top: 12px;
  left: calc(50% - 10.05px);
  width: 21px;
  height: 16.5px;
  z-index: 1;
}
.download1,
.w-child3 {
  height: 40px;
  width: 37.9px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.download1 {
  z-index: 1;
}
.w-child3 {
  display: none;
}
.w7,
.z1 {
  z-index: 1;
}
.z1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
}
.w7 {
  width: 39px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-2xs);
  box-sizing: border-box;
}
.e-child3,
.x2 {
  position: relative;
}
.e-child3 {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.x2 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.e7,
.r-child3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.e7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
  z-index: 1;
}
.r-child3 {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.c1,
.r7 {
  z-index: 1;
}
.c1 {
  width: 22px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.r7 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 25px;
}
.t-child3,
.v1 {
  position: relative;
}
.t-child3 {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.v1 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.t7,
.y-child3 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.t7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-4xs);
  z-index: 1;
}
.y-child3 {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.b9,
.y7 {
  z-index: 1;
}
.b9 {
  width: 20px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.y7 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
}
.n1,
.u-child3 {
  position: relative;
}
.u-child3 {
  height: 40px;
  width: 37.9px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.n1 {
  flex: 1;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
  z-index: 1;
}
.i-child3,
.u7 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.u7 {
  width: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-6xs)
    var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
}
.i-child3 {
  height: 40px;
  width: 37.9px;
  position: relative;
  display: none;
}
.i7,
.m1 {
  flex: 1;
  z-index: 1;
}
.m1 {
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
}
.i7 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-6xs);
  box-sizing: border-box;
  min-width: 25px;
}
.delete-icon1 {
  height: 40px;
  width: 37.9px;
  position: relative;
  object-fit: cover;
  min-height: 40px;
  z-index: 1;
}
.a-s-d-f-g-h-j-k-l1,
.download-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  gap: 0 7px;
}
.download-frame1 {
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 var(--padding-12xs);
  gap: 10px 0;
}
.to-3-item {
  height: 45px;
  width: 89.3px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.g-o-to {
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  z-index: 1;
}
.space-item,
.to-31 {
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.to-31 {
  width: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-lgi);
  box-sizing: border-box;
  z-index: 1;
}
.space-item {
  height: 45px;
  width: 211.5px;
  position: relative;
  display: none;
}
.space3 {
  position: relative;
  font-size: var(--body-large-semibold-size);
  letter-spacing: 0.2em;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-gray-600);
  text-align: center;
  z-index: 1;
}
.space2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-49xl) var(--padding-xs)
    var(--padding-53xl);
  background-color: var(--black);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.space2:hover,
.to-41:hover {
  background-color: var(--color-dimgray-200);
}
.go1,
.to-4-item {
  position: relative;
}
.to-4-item {
  height: 45px;
  width: 89.3px;
  border-radius: var(--br-8xs);
  background-color: var(--black);
  display: none;
}
.go1 {
  flex: 1;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--headings-h4);
  color: var(--color-gray-600);
  text-align: center;
  flex-shrink: 0;
  z-index: 1;
}
.to-41 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-3xl);
  background-color: var(--black);
  width: 90px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.frame-q-w,
.to-space1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.to-space1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 9px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--headings-h4);
}
.frame-q-w {
  flex-direction: column;
  align-items: flex-end;
  gap: 14px 0;
}
.icon-park-outlinevoice1,
.phsmiley-bold-icon1 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.phsmiley-bold-icon1 {
  bottom: 26px;
  left: 37px;
}
.icon-park-outlinevoice1 {
  right: 42px;
  bottom: 28px;
}
.keyboard-txt1,
.reset-password-screen,
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.keyboard-txt1 {
  align-self: stretch;
  background-color: var(--black1);
  padding: var(--padding-mini) var(--padding-xs) var(--padding-mini)
    var(--padding-5xs);
  position: relative;
  min-height: 293px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--headings-h4);
}
.reset-password-screen,
.section4 {
  overflow: hidden;
}
.section4 {
  align-self: stretch;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--color-gray-500);
  padding: var(--padding-13xl) 0 0;
  gap: 67px 0;
  max-width: 100%;
}
.reset-password-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  padding: var(--padding-9xl) 0 0;
  gap: 50px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-900);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .top-bar4 {
    flex-wrap: wrap;
  }
  .e6,
  .i6,
  .o5,
  .q5,
  .r6,
  .u6 {
    flex: 1;
  }
  .a-s-d-f-g-h-j-k-l1,
  .key-u {
    flex-wrap: wrap;
  }
}
